 @import url('https://fonts.googleapis.com/css?family=Smythe&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html, body{
	box-sizing: border-box;
	min-height: 100vh;
	padding: 10px;
	background: url(img/black_1.webp) no-repeat center fixed;
	background-size: cover;
	scroll-behavior: smooth;
	letter-spacing: .2rem;
}

h1{
	color: #c69963;
}

h4{
	color: rgba(255,245,103,.6);
}

h6{
	color: rgba(169, 169, 169, 1);
}

p{
	color: rgba(169, 169, 169, 1);
}

a{
	text-decoration: none;
	color: #eee;
}

.container{
	width: 90%;
	max-width: 120rem;
	margin: 0 auto;
	position: relative;
}

/* header start */
header{
	width: 100%;
	height: 100vh;
}

.menu-toggler{
	position: fixed;
	top: 5rem;
	right: 5rem;
	width: 5rem;
	height: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	z-index: 1500;
	transition: transform 650ms ease-out;
}

.menu-toggler.open{
	transform: rotate(-45deg);
}
.bar{
	background: linear-gradient(to right, transparent, #fff567);
	width: 100%;
	height: 4px;
	border-radius: .8rem;
}
.bar.half{
	width: 50%;
}
.bar.start{
	transform-origin: right;
	transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.start{
	transform: rotate(-450deg) translateX(.8rem);
}
.bar.end{
	transform-origin: left;
	align-self: flex-end;
	transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar.end{
	transform: rotate(-450deg) translateX(-.8rem);
}

.top-nav{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: -100vh;
	z-index: 50;
	background: url(img/black.webp);
	border-bottom-right-radius: 100%;
	border-bottom-left-radius: 100%;
	transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list{
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 1rem 6rem 1.5rem 0;
}

.nav-link{
	font-family: 'Smythe', sans-serif;
	font-size: 3rem;
	padding: 1rem;
	letter-spacing: .3rem;
	color: #cebb9e;
}

.nav-link:hover, 
.nav-link:focus{
	background: linear-gradient(to top, transparent, #fff567);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.top-nav.open{
	top: 0;
	border-radius: initial;
}

.landing-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center; 
	z-index: 1;
}
.landing-text h1{
	font-size: 8rem;
	font-family: 'Smythe', sans-serif;
	background: linear-gradient(to top, transparent, #fff567);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding: .8rem;
	text-transform: uppercase;
	letter-spacing: .5rem;
}
.landing-text h6{
	font-size: 1.5rem;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
	letter-spacing: .4rem;
	margin-top: 4rem;
}

/* header end */

.scroll-down i{
	font-size: 3rem;
	color: #cebb9e;
	margin-left: -40px;
	border-radius: 50px;
	box-shadow: 3px 2px 2px rgba(16, 29, 44, 1);
}

/* about section start */
.about-heading h1, 
.skills-heading h1,
.work-experience h1{
	font-size: 2.7rem;
	font-family: 'Smythe', sans-serif;
}

.about-details p{
	font-family: 'Raleway', sans-serif;
	letter-spacing: .2rem;
	font-size: 1.05rem;
}
/* about section end */

/* skills section start */

.icon-container{
	width: 5.8rem;
	height: 5.8rem;
	border: 3px solid #c69963;
	border-radius: 8px;
	background-color: #101D2C;
	opacity: .6;
	margin-bottom: 1.5rem;
	display: flex;
	transform: rotate(45deg);
}

.icon-container i{
	color: #cebb9e;
	font-size: 2.2rem;
	margin: auto;
	transform: rotate(-45deg);
}

.skill h1{
	font-family: 'Smythe', sans-serif;
	color: #fff567;
	opacity: .6;
	margin-top: 1rem;
	font-size: 1.8rem;
}

.skill.one h1{
	margin-left: 6px;
} 

.skill.two h1{
	margin-left: 20px;
}

.skill.four, .skill.six, .skill.seven h1{
	margin-left: 28px;
} 
 
.skill.eight h1{
	margin-left: -5px;
}

.skill.nine h1{
	margin-left: -25px;
}

.skill.ten h1{
	margin-left: 15px;
}
.skill.eleven h1{
	margin-left: 8px;

}
/* skills section end */

/* portfolio start */
.portfolio{
	margin-left: -27px;
}

.portfolio h1{
	font-family: 'Smythe', sans-serif;
	font-size: 2.7rem;
}

.portfolio h6{
	font-size: 1.3rem;
	margin-left: -48px;
	font-family: 'Raleway', sans-serif;
}

.portfolio-description h1{
	font-family: 'Smythe', sans-serif;
	color: #fff567;
	opacity: .6;
	font-size: 2rem;
	margin-left: 20px;
}
.portfolio-description h6{
	font-family: 'Raleway', sans-serif;
	font-size: 1.08rem;
	color: #c69963;
	margin-left: -100px;
}

.portfolio-description p{
	margin-left: -100px;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
}

.portfolio-img.one{
	margin-top: 80px;
}

.portfolio-img.two {
	margin-top: 100px;
}

.portfolio-description.two h1,
.portfolio-description.two h6,
.portfolio-description.two p{
	margin-left: 35px;
}

.portfolio-description.three h1{
	margin-left: -50px;
}

.portfolio-description.four, .portfolio-img.five, .portfolio-img.seven{
	margin-left: 40px;
}

.portfolio-description.five h1{
	margin-left: -20px;
}

.portfolio-description.six h6{
	margin-left: -20px;
}

.portfolio-description.six p{
	margin-left: -24px;
}
.cta.six{
	margin-left: -23px;
	display: inline-block;
	margin-top: .5rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #cebb9e; 
	font-family: 'Smythe', sans-serif;
	letter-spacing: .3rem;
	transition: color 650ms;
}

.portfolio-description.seven h1,
.portfolio-description.seven h6,
.portfolio-description.seven p{
	margin-left: -100px;
}

.portfolio-description.seven{
	margin-top: 50px;
}

.portfolio-img.eight{
	margin-top: 100px;
}

.cta.two{
	display: inline-block;
	margin-top: .5rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #cebb9e; 
	font-family: 'Smythe', sans-serif;
	letter-spacing: .3rem;
	transition: color 650ms;
	margin-left: 38px;
}

.cta.one, .cta.three, .cta.four, .cta.five, .cta.seven, .cta.eight, .cta.nine {
	display: inline-block;
	margin-top: .5rem;
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #cebb9e; 
	font-family: 'Smythe', sans-serif;
	letter-spacing: .3rem;
	transition: color 650ms;
	margin-left: -100px;
}

.portfolio-img.two img{
	margin-left: -100px;
}	

.portfolio-description .cta:hover{
	color: rgba(255,245,103,.6);
}

/* portfolio end */


/*start experience*/

.work-experience h6{
	font-size: 1.3rem;
	margin-left: 4px;
	font-family: 'Raleway', sans-serif;
}

.timeline ul{
	border-left: 3px solid rgba(255, 245, 103, 0.6);
	border-radius: .8rem;
	margin: 0 0 0 150px;
	position: relative;
	padding: 4rem;
	list-style: none;
	text-align: left;
	width: 70%;
}
.timeline h1{
	font-family: 'Smythe', sans-serif;
	/* letter-spacing: .4rem; */
	margin-bottom: 1rem;
	font-size: 1.8rem;
}
.timeline h4{
	font-size: 1.6rem;
	font-family: 'Smythe', sans-serif;
	margin-top: 1.5rem;
}
.timeline ol{
	color: rgba(169,169,169,1);
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;
	letter-spacing: .2rem;
	margin-top: 1.5rem;
}
.timeline p{
	font-family: 'Raleway', sans-serif;
	color: rgba(169, 169, 169, 1);
	font-size: 1rem;
	margin-top: 1.5rem;
}
.timeline .date{
	border-bottom: 1px solid rgba(206, 187, 158, .6);
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	position: relative;
}
.timeline .date:last-of-type{
	padding-bottom: 0;
	margin-bottom: 0;
	border: none;
}
.timeline .date::before,
.timeline .date::after{
	position: absolute;
	display: block;
	top: 50%;
	transform: translateY(-50%);
}
.timeline .date::before{
	content: attr(data-date);
	left: -17.5rem;
	color: rgba(206, 187, 158, .7);
	text-align: right;
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;
	min-width: 12rem;
}
.timeline .date::after{
	content: '';
	border-radius: 100%;
	left: -4.6rem;
	height: 1rem;
	width: 1rem;
	background-color: #313536;
}
/*end experience*/

/*form start*/
.contact h1{
	font-family: 'Smythe', sans-serif;
	color: #c69963;
	font-size: 2.7rem;
}

.contact h6{
	font-size: 1.3rem;
	margin-left: 4px;
	font-family: 'Raleway', sans-serif;
}

#contact-form{
	width: 50%;
	margin: 0 auto;
}
.form-group label{
	color: rgba(169,169,169,1);
	font-size: 1.2rem;
	padding-bottom: 2rem;
}
.form-group input, .form-group textarea{
	background: transparent;
	border: none;
	border-bottom: 1px solid #cebb9e;
	color: rgba(255, 255, 255, .8);
	font-size: 1.2rem;
	font-family: 'Raleway', sans-serif;
	letter-spacing: .2rem;
}
.form-group input:focus{
	border:none;
	outline: none;
}
.form-group textarea:focus{
	border: none;
	outline: none;
}
/*.submit{
	background: rgba(255,245,103,.6);
	color: rgba(255,245,103,.6);
}*/

.btn{
	background: rgba(255,245,103,.6);
	font-size: 1rem;
	padding: 1.3rem 1.3rem;
	letter-spacing: .2rem;
	font-family: 'Raleway', sans-serif;
	border-radius: 4px;
	font-weight: bold;
	margin-top: 4rem;
	color: rgba(16,29,44,.8);
	border: 2px solid rgba(0,0,0,.8);
	cursor: pointer;
	transition: color 650ms;
}
.btn:hover{
	background-color: rgba(16,29,44,.6);
	color: rgba(206,187,158,.8);	
}
/*form end*/

/*credits start*/
.channel-heading h1{
	font-family: 'Smythe', sans-serif;
	text-align: center;
	font-size: 2.7rem;
	letter-spacing: .2rem;
}
.channel-links{
	text-align: center;
	margin-top: 3rem;
	font-size: 1.3rem;
	letter-spacing: .2rem;
	font-family: 'Raleway', sans-serif;
}
.channel-links a{
	color: #cebb9e;
}
.channel-links a:hover{
	color: rgba(255,245,103,.6);
}
/*credits end*/

/*footer start*/
/* .social-media{
	background-color: rgba(169, 169, 169, .05);
} */

.social-media i{
	font-size: 1.3rem;
	color: #cebb9e;
	opacity: .6;
	transition: color 650ms;
	padding: 1.6rem;
}
.fa-bitbucket:hover{
	color: #1DA1F2;
	transition: ease-in 650ms;
}
.fa-github:hover{
	color: #F4CBB2;
	transition: ease-in 650ms;

}
.fa-linkedin-in:hover{
	color: #0077B5;
	transition: ease-in 650ms;

}
.my-info p{
	margin: 1.5rem 0 0 2rem;
	font-size: 1.3rem;
	font-family: 'Raleway', sans-serif;
	letter-spacing: .2rem;
	color: rgba(255, 245, 103, .5);
}
.my-info i{
	font-size: 1.3rem;
	color: #cebb9e;
	opacity: .6;
}

.say-hello a{
	color: #cebb9e;
}

.say-hello a:hover{
	color: #1DA1F2;
	transition: ease-in 650ms;
}
.say-hello p{
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;
	letter-spacing: .2rem;
	color: rgba(169, 169, 169, 1);
	margin-top: 10px;
}

#up{
	position: absolute;
	/* bottom: -9730px; */
	transform: translateY(-35px);
	right: 25px;
	display: flex;
	animation: pulse 2s infinite;
	cursor: pointer;
	
}
.up .fa-arrow-circle-up{
	color: #c69963;
	font-size: 1.5rem;
	/* margin: -17px 17px 17px 0px;/ */
}

/*chevron animation start*/
@keyframes pulse{
	0%{
		box-shadow: 0 0 0 0 rgba(169, 169, 169, .7);
	}
	70%{
		box-shadow: 0 0 0 2rem rgba(198, 153, 99, 0);
	}
	100%{
		box-shadow: 0 0 0 0 rgba(169, 169, 169, .25);
	}
}
/*chevron animation end*/

.copyright{
	font-size: 1.05rem;
	font-family: 'Raleway', sans-serif;
	letter-spacing: .2rem;
}
/*footer end*/


/* media queries start */
/* media queries end */


